// Import page-specific CSS files here.
@import "home";
@import "user_show";
@import "wishlist";
@import "rental_request_index";
@import "video_cassette_show";

body {
  background: $color2;
  color: $color5;
}

.page-layout {
  min-height: calc(100vh - 156px);
}
