<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://i.pinimg.com/originals/69/c0/a0/69c0a07d3d329c613fdb1edc514d5186.png" alt="First slide" style="height: 450px; object-fit:cover;">
        <div class="carousel-caption d-none d-md-block">
          <h5>Home Alone</h5>
          <p>1990</p>
        </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/1BC1046C15DC2A5D72C6DC043B5C9DE58FCDE48CDA0B3A12ED2FCAFFC0DE1A5C/scale?aspectRatio=1.78&format=jpeg" alt="Second slide" style="height: 450px; object-fit:cover;">
        <div class="carousel-caption d-none d-md-block">
          <h5>Star Wars: A New Hope</h5>
          <p>1977</p>
        </div>
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://www.indiewire.com/wp-content/uploads/2017/06/jaws-01.jpg?w=780" alt="Third slide" style="height: 450px; object-fit:cover;">
        <div class="carousel-caption d-none d-md-block">
          <h5>Jaws</h5>
          <p>1975</p>
        </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
