<div class="navbar navbar-expand-ml navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">BLockWagon</a>

  <p><%= link_to "Sing in", new_user_session_path %></p>
  <p><%= link_to "Sing up", new_user_registration_path %></p>
</div>

