.navbar-lewagon {
  justify-content: space-between;
  background: white;
  transition: 0.2s;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

a {
  color:black;
}

a:hover {
  text-decoration: none;
  color:black;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
}

.nav-link {
  margin-bottom: 0;
}

.dropdown-menu {
  padding-left: 10px;
}
