.navbar-lewagon {
  justify-content: space-between;
  background: $color1;
  transition: 0.2s;
  
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

a {
  transition: 0.2s;
}

a:hover {
  text-decoration: none;
  color:black;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  // background: black;
}

.navbar a {
  color: $color5 !important;
  opacity: .8;
}

.navbar:hover {
  background-color: $color4 !important;
  opacity: .5;
}

.nav-link {
  margin-bottom: 0;
}

.dropdown-menu {
  padding-left: 10px;
}
