.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

a {
  color:black;
}

a:hover {
  text-decoration: none;
  color:black;
}

.navbar{
  position: sticky;
  top: 0;
  z-index: 999;
}
